@model List<CompanyManagement.Models.Transaction>
@{
    ViewBag.Title = "حركة صنف - " + Model[0].Product.name;
}

<h2>حركة صنف: @Model[0].Product.name</h2>
<hr />
<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>رصيد</th>
            <th>وارد</th>
            <th>منصرف</th>
            <th>سعر الوحدة</th>
            <th>التاريخ</th>
            <th>البيان</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tran in Model)
        {
            <tr>
                <td>@tran.balance</td>
                <td>@tran.income</td>
                <td>@tran.outcome</td>
                <td>@tran.sale_price</td>
                <td>@tran.move_date</td>
                <td>
                    <a href="/Orders/Details/@tran.Order.custom_order_id">
                        @tran.Order.custom_order_id
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

