@model CompanyManagement.Models.OrderDetail
<fieldset class="orderfieldset">
    <div class="row">
        <div class="col-xl-4">
            <div class="form-group">
                <label for="product_id" class="control-label">المنتج</label>
                <select name="product_id" id="product_id" class="form-control">
                    <option value="" selected hidden>-- اختار المنتج</option>
                    @foreach(var item in ViewBag.Products as SelectList)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.product_id, "", htmlAttributes: new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-xl-4">
            <div class="form-group">
                @Html.LabelFor(model => model.unit_price, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.unit_price,new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.unit_price, "", htmlAttributes: new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-xl-4">
            <div class="form-group">
                @Html.LabelFor(model => model.quantity,htmlAttributes: new {@class="control-label" })
                @Html.EditorFor(model => model.quantity,new { htmlAttributes = new {@class="form-control"}})
                @Html.ValidationMessageFor(model => model.quantity, "", htmlAttributes: new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4">
            <div class="form-group">
                @Html.LabelFor(model => model.discount, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.discount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.discount, "", htmlAttributes: new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-xl-4">
            <div class="form-group">
                @Html.LabelFor(model => model.total_price, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.total_price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.total_price, "", htmlAttributes: new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-xl-4">
            <div class="form-group">
                <button class="btn btn-success" style="margin-top:31px">إضافة الى الفاتورة</button>
            </div>
        </div>
    </div>
</fieldset>

<script type="text/javascript">
    $(document).ready(function () {
        $('#product_id').on('change', function () {
            var productId = $("#product_id").val();
            GetPriceOfProduct(productId);
        });
    });

    function GetPriceOfProduct(productId) {
        $.ajax({
            async: true,
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            url: "/Orders/GetProductPrice",
            data: { productId: productId },
            success: function (data) {
                $("#unit_price").val(parseFloat(data).toFixed(2));
            },
            error: function () {
                alert("يوجد مشكلة فى هذا المنتج")
            },
        });
    }
</script>