@model CompanyManagement.Models.UoMCategory

@{
    ViewBag.Title = "حذف - "+Model.name;
}

<h2>حذف - @Model.name</h2>

<h3>هل انت متأكد من حذف هذة الفئة ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="حذف" class="btn btn-default DeleteButton" /> |
    @Html.ActionLink("الرجوع الى القائمة", "Index")
</div>
    }
</div>
