@model IEnumerable<CompanyManagement.Models.Unit_of_Measures>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.unit_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unit_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ratio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UoMCategory.name)
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.ActionLink(item.unit_name,"Details",new { id=item.id})
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.unit_type)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ratio)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UoMCategory.name)
    </td>
</tr>
}
</table>
