@model IEnumerable<CompanyManagement.Models.Customer>

<table class="table" style="overflow-x:scroll">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.ActionLink("تعديل", "Edit", new { id = item.id }) |
                @Html.ActionLink("تفاصيل", "Details", new { id = item.id }) |
                @Html.ActionLink("حذف", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>

