@model IEnumerable<CompanyManagement.Models.Product>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.code)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.name, "Details", new { id = item.id })
            </td>
            <td>
                @if (item.vat == null)
                {
                    <span>ــ</span>
                }else
                {
                @Html.DisplayFor(modelItem => item.vat)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.code)
            </td>
        </tr>
    }

</table>

