@model Dictionary<string, List<CompanyManagement.Models.Stock>>
@{
    ViewBag.Title = "المخزون";
}

<h2>المخزون</h2>
<hr />
<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>المنتج</th>
            <th>السعر</th>
            <th>الكمية</th>
            <th>القيمة</th>
            <th>التاريخ</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        var x = item.Value.Count + 1;
        <tr class="font-weight-bold">
            <td rowspan="@x">
                <a href="/Products/Details/@item.Value[0].product_id">@item.Key</a>
            </td>
        </tr>
        foreach (var itm in item.Value)
        {
            if (x > 2)
            {
                <tr style="background-color:#fefefe">
                    <td>@itm.unit_price</td>
                    <td>@itm.quantity</td>
                    <td>@itm.total_price</td>
                    <td>@itm.date_of_buy</td>
                </tr>
            }
            else
            {
                <tr>
                    <td>@itm.unit_price</td>
                    <td>@itm.quantity</td>
                    <td>@itm.total_price</td>
                    <td>@itm.date_of_buy</td>
                </tr>
            }
        }
    }
</table>
