@model CompanyManagement.Models.Product

@{
    ViewBag.Title = "Delete";
}

<h3>هل انت متأكد انك تريد حذف "@Html.DisplayFor(model => model.name)" ؟</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vat)
        </dt>

        <dd>
            @if (Model.vat == null)
            {
                <span>لا يوجد</span>
            }
            else
            {
                @Html.DisplayFor(model => model.vat)
            }
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-default DeleteButton" /> |
            @Html.ActionLink("الرجوع الى القائمة", "Index")

        </div>
    }
</div>
