@model IEnumerable<CompanyManagement.Models.Order>

@{
    ViewBag.Title = "الفواتير";
}

<h2>الفواتير</h2>

<div id="Search">
    @using (Ajax.BeginForm("SearchOrder", "Orders", new AjaxOptions()
    {
        UpdateTargetId = "ContentGrid",
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace
    }, new { @style = "display:inline" }))
    {
        @Html.AntiForgeryToken()
        <div class="input-group mb-3">
            <input type="text" class="form-control SearchInput" name="OrderID" placeholder="بحث .." aria-label="" aria-describedby="basic-addon1">
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary SearchButton" type="submit"><i class="fa fa-search"></i></button>
            </div>
            <a href="/Orders/CreatePurchaseOrder" class="btn btn-secondary" id="AddNew"><i class="fa fa-plus-square"></i> فاتورة جديدة</a>
        </div>
    }
</div>
<div id="ContentGrid" style="overflow-x:scroll">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.custom_order_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.order_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total_payment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.order_date)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.custom_order_id, "Details", new { id = item.custom_order_id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.order_type)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Customer.name)*@
            <a href="/Customers/Details/@item.Customer.id">@item.Customer.name</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total_payment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.order_date)
        </td>
        @*<td>
            @Html.ActionLink("تعديل", "Edit", new { id = item.id }) |
            @Html.ActionLink("تفاصيل", "Details", new { id = item.id }) |
            @Html.ActionLink("حذف", "Delete", new { id = item.id })
        </td>*@
    </tr>
    }

    </table>
</div>